.top-nav {
  width: 100%;
  border-bottom: 2px dashed @navigation-border;
  background: @white;

  .navigation-flexbox {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    margin: 35px auto;

    #logo {
      margin-right: auto;
      margin-left: 0;
      padding: 0;
      font-size: 5rem;
      font-weight: bold;
      font-family: "Indie Flower", cursive;
    }

    a {
      text-decoration: none;
      color: @font-color;
      &:hover {
        color: @eastern-blue;
      }
    }

    li {
      text-align: right;
      width: auto;
      margin: 0 20px;
      line-height: 1.5;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}
